.a-1{
    border-radius: 15rem;
    padding: 2rem;
   text-align: center;
    opacity: .7;
    
}
.text-1{
    border-radius: 15rem;
    background-color: black;
    opacity: .7;
    padding: .5rem; 
    color: white;  
    }
.text-1:hover{
        opacity: 1;
    }

